.nav {
  width: 100%;
  height: 200px;
  display: inline-flex;
  padding: 50px;
  justify-content: center;
  font-size: 50px;


}


.div1 {


  padding: 300px;
}

.imagen {
  text-align: center;
  height: 550px;
  width: 550px;
}

.logout {
  position: fixed;
  right: 25px;
  top: 25px;
}
.loggedUser {
  position: fixed;
  right: 110px;
  top: 22px;
  font-weight: 700;
  font-size: 25px;

}

.container-log {
  display: flex;
  ;
  margin-top: 200px;
  justify-content: center;
  align-items: center
}

textarea:focus,
input[type="password"]:focus,
input[type="name"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  border-color: rgba(21, 23, 20, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(54, 55, 54, 0.6);
  outline: 0 none;
}